body {
    margin-top: 70px;
    margin-bottom: 70px;
}

.login_internal {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 400px;
    height: 260px;
    margin: auto;
}

.linkButton {
	cursor: pointer;
	cursor: hand;
}

.custom_alert {
	position: absolute;
    top: 80px;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 400px;
    margin: auto;
}

@media (min-width: 768px) {
    .container-small {
        width: 300px;
    }
    .container-large {
        width: 970px;
    }
}
@media (min-width: 992px) {
    .container-small {
        width: 500px;
    }
    .container-large {
        width: 1170px;
    }
}
@media (min-width: 1200px) {
    .container-small {
        width: 700px;
    }
    .container-large {
        width: 1500px;
    }
}
